################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/strength-repository/.vs/
/.vs
*.obj
**/bin/*
**/obj/*
*.jfm
*.dbmdl
/strength-repository/strength-repository.API/obj/Debug/net6.0/
/strength-repository/strength-repository.web/node_modules
