################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/strength-repository/.vs/
/.vs
