################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/strength-repository/.vs/
/.vs
/strength-repository/strength-repository.API/bin/
/strength-repository/strength-repository.API/obj/
/strength-repository/strength-repository.API/obj/Debug/net6.0/
/strength-repository/strength-repository.web/node_modules
